:root {
  --font-title: 'Roboto Mono', monospace;
  --font-text: 'Roboto', sans-serif;
  --background-color: #FFFFFF;
  --quote-background-color: #EAEAEA;
  --text-color: #000000;
  --scrollbar-track: #DDDDDD;
  --scrollbar-thumb: #AAAAAA;
  --scrollbar-hover: #888888;
  --scrollbar-drag: #666666;
  --link-color: #000000;
  --link-visited: #000000;
  --link-hover: #999999;
  --link-selected: #CCCCCC;
  --selection-color: #888888;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-family: var(--font-title);
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 2.4rem;
  padding-bottom: 4.8rem;
}

h3 {
  font-family: var(--font-title);
  font-style: italic;
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4.8rem;
}

h4.first_min {
  font-family: var(--font-title);
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 1.2rem;
}

h4.first_main {
  font-family: var(--font-title);
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

h4.title {
  font-family: var(--font-title);
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

h4.text {
  font-family: var(--font-title);
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

p.intro {
  font-family: var(--font-text);
  font-style: italic;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

p.body {
  font-family: var(--font-text);
  font-style: italic;
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

p.script_name {
  text-align: center;
}

p.script_speech {
  text-align: left;
  margin-left: 3rem;
  margin-right: 3rem;
}

p.footnote {
  display: block;
  padding-left: 3rem;
  text-indent: -3rem;
  text-align: left;
}

div.whole {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 100%;
}

div.chapter {
  padding-top: 24px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

div.chaptertitle {
  margin: auto;
  width: 100%;
  margin-bottom: 1.2rem;
  margin-top: 2.4rem;
}

div.footnote {
  font-family: var(--font-text);
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2em;
  background-color: var(--quote-background-color);
  padding: 1rem 1rem;
}

div.invisible {
  display: none;
}

div.list {
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

::selection {
  background: var(--selection-color);
}

::-moz-selection {
  background: var(--selection-color);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  color: var(--link-hover);
}

a:active {
  color: var(--link-selected);
}

ul {
  list-style-type: none;
  font-family: var(--font-title);
  width: 80%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 0rem;
  counter-reset: item;
  padding-left: 0rem;
}

ul.a, li.a {
  font-family: var(--font-text);
  list-style-type: "+  ";
}

ul.a, li.a {
  font-family: var(--font-text);
  list-style-type: none;
}

sup {
  vertical-align: text-top;
}

span {
  float: right;
  color: #888888;
}

.hoverable:hover {
  color: #666666;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 900px;
  width: auto;
  max-width: 600px;
}

.involved:hover .hover,
.involved .hover-other {
  display: none;
}

.involved:hover .hover-other {
  display: block;
  cursor: pointer;
  color: #999999;
}

p.bio {
  font-family: var(--font-title);
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
